$bg-color-header: rgba(226, 209, 187, 0.5) ;
$bg-color-footer: rgba(226, 209, 187, 0.5) ;
$bg-color-body: rgb(238, 234, 229);
$bg-color-cuadrado: rgba(255, 235, 205);
$fontf-tprinc: 'Lora', serif;
$fontf-text: 'Roboto', sans-serif;
$fonts-tprinc: 80px;
$fonts-tsecun: 30px;
$fonts-text: 20px;
$boxshadow-cuadros: 5px 10px 5px rgb(161, 161, 161);
