header {
    background-color: $bg-color-header;
    backdrop-filter: blur(6px);
    z-index: 2;
    position: fixed;
    width: 100%;
}

.navbar {
    
    .navbar-nav{
        
        @include texto-nav;
        
        
        
        .menu{
            
            @include texto-nav;

            &:hover {
                text-decoration: underline;
            }
            &:visited {
                text-decoration: underline;
            }
            
        }
        
    
    }
}

.FakeHeader {
    width: 100%;
    height: 130px;
    margin-bottom: 50px;
}