* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    box-sizing: content-box;
    background-color: $bg-color-body;
}

main{
    display: flex;
    width: 100%;
    margin: auto;
}
section{
    margin: auto;
}
